@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>StockWhole software provides you a inventory System where you can add the detail of any item for your shop and modify that item as well.</p>
<p>The Software concern your privacy and make the software roburst.So, the Admin can handle everything with ease. </p>

