@model StockWhole.Models.Stock

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerName" class="control-label"></label>
                <input asp-for="SellerName" class="form-control" />
                <span asp-validation-for="SellerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerPhone" class="control-label"></label>
                <input asp-for="SellerPhone" class="form-control" />
                <span asp-validation-for="SellerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerAddress" class="control-label"></label>
                <input asp-for="SellerAddress" class="form-control" />
                <span asp-validation-for="SellerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label"></label>
                <textarea asp-for="StockQuantity" class="form-control" ></textarea>
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
